@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout-Dashboard-Person.cshtml";
    ViewBag.PubsList = ViewBag.PubsList;
    ViewBag.Lat = ViewBag.Lat;
    ViewBag.Lon = ViewBag.Lon;
    ViewBag.Profile = ViewBag.Profile;
}

<div id="map" style="width:100%;height:800px;"></div>

<script>
    var json = '@Html.Raw(ViewBag.PubsList)';
    var style = '[{"elementType":"geometry","stylers":[{"color":"#212121"}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"elementType":"labels.text.fill","stylers":[{"color":"#757575"}]},{"elementType":"labels.text.stroke","stylers":[{"color":"#212121"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#757575"}]},{"featureType":"administrative.country","elementType":"labels.text.fill","stylers":[{"color":"#9e9e9e"}]},{"featureType":"administrative.land_parcel","stylers":[{"visibility":"off"}]},{"featureType":"administrative.locality","elementType":"labels.text.fill","stylers":[{"color":"#bdbdbd"}]},{"featureType":"poi","elementType":"labels.text.fill","stylers":[{"color":"#757575"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#181818"}]},{"featureType":"poi.park","elementType":"labels.text.fill","stylers":[{"color":"#616161"}]},{"featureType":"poi.park","elementType":"labels.text.stroke","stylers":[{"color":"#1b1b1b"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#2c2c2c"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#8a8a8a"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#373737"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#3c3c3c"}]},{"featureType":"road.highway.controlled_access","elementType":"geometry","stylers":[{"color":"#4e4e4e"}]},{"featureType":"road.local","elementType":"labels.text.fill","stylers":[{"color":"#616161"}]},{"featureType":"transit","elementType":"labels.text.fill","stylers":[{"color":"#757575"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"color":"#3d3d3d"}]}]';
    var map, ininfowindowfo;

    var lat = '@ViewBag.Lat';
    var lon = '@ViewBag.Lon';
    var lat = lat.replace(",", ".");
    var lon = lon.replace(",", ".");

    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(parseFloat(lat), parseFloat(lon)),
            zoom: 18,
            styles: JSON.parse(style)

        };
        map = new google.maps.Map(document.getElementById("map"), mapOptions);

        addMarkers();
    }

    function addMarkers() {
        var markerData = JSON.parse(json);

        $.each(markerData, function () {
            var myLatlng = new google.maps.LatLng(this.Lat, this.Lng);

            new google.maps.Marker

            var marker = new google.maps.Marker({
                position: (myLatlng),
                data: this,
                map: map,
                title: 'Dain Map'
            });

            google.maps.event.addListener(marker, 'click', function () {

                if (infowindow) {
                    infowindow.close();
                }

                map.setZoom(15);
                map.setCenter(marker.getPosition());

                var contentString = '<p><b>Name: </b>' + this.data.Name + ' (Id: ' + this.data.Id + ')</p><p><b>Rating: </b>' + this.data.Rating + '</p><b>Address: </b>' + this.data.Address + '</p>';

                infowindow = new google.maps.InfoWindow(
                    {
                        content: contentString
                    });
                infowindow.open(map, this);
            });
        });
    }

</script>
