
@{
    Layout = "~/Views/Shared/_Layout-Login.cshtml";
    ViewBag.Title = "Login - Person";
}

<form class="form-signin" id="loginForm" name="loginForm" style="display:initial;">
    <img class="mb-4" src="~/Content/Dain-Logo.png" alt="" width="150" height="185">
    <h1 class="h3 mb-3 font-weight-normal">Login - Person</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <br />
    <input type="button" class="btn btn-outline-dark" id="Register" name="Register" value="Register" onclick="RegisterJS();">
    <button class="btn btn-outline-dark" type="submit">Login</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2018 - Dain</p>
</form>

<form class="form-signin" id="registerForm" name="registerForm" style="display:none;" enctype="multipart/form-data">
    <h1 class="h3 mb-3 font-weight-normal">Cadastro - Person</h1>

    <label for="registerEmail" class="sr-only">Email</label>
    <input type="email" id="registerEmail" class="form-control" placeholder="Email" required autofocus style="">

    <label for="registerLogin" class="sr-only">Login</label>
    <input type="text" id="registerLogin" class="form-control" placeholder="Login" required autofocus style="  margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">

    <label for="registerPassword" class="sr-only">Password</label>
    <input type="password" id="registerPassword" class="form-control" placeholder="Password" required autofocus style="">

    <label for="registerName">Name</label>
    <input type="text" id="registerName" class="form-control" placeholder="Name" required autofocus style="">

    <label for="registerBirth">Birth</label>
    <input type="date" id="registerBirth" placeholder="Birth" class="form-control" required />

    <label for="registerState">State</label>
    <select class="form-control">
        <option>Paraná</option>
    </select>

    <label for="registerCity">City</label>
    <input type="text" id="registerCity" class="form-control" placeholder="City" required autofocus style="">

    <label for="cadastroSex">Sex</label>
    <select class="form-control">
        <option>Other</option>
        <option>Male</option>
        <option>Female</option>
    </select>
    <br />

    <div id="wrapper">
        <input type="file" accept="image/*" onchange="Preview_image(event)" class="form-control" name="upImage" id="upImage">
        <br />
        <img src="~/Content/Preview.png" id="output_image" class="rounded mx-auto d-block">
    </div>
    <br />

    <button class="btn btn-outline-dark" type="submit">Register</button>
    <input type="button" class="btn btn-outline-dark" id="Return" name="Return" value="Return" onclick="LoginJS();">

    <p class="mt-5 mb-3 text-muted">&copy; 2018 - Dain</p>
</form>